<app-navigation></app-navigation>

<div class="container">
  <h1>List of Pets <a data-testid="addNewPetBtn" routerLink="/addpet" mat-raised-button color="primary">
      <mat-icon>add</mat-icon> Add a new Pet
    </a> </h1>
  <div>
    <em class="text-info">
      <mat-icon>info</mat-icon> Select a status below to view all records matching that status.
    </em> <br>
    <em class="text-info">
      <mat-icon>info</mat-icon>Click on the 'Name' header to sort the table 
      in alphabetical order. Click on a Pet name to view more details
    </em> 
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Select a status to filter the list</mat-label>
    <mat-select data-testid="statusSelector" (selectionChange)="filterByStatus()" [(value)]="selectedStatus">
      <mat-option value="{{status}}" *ngFor="let status of petService.statuses">{{status}} </mat-option>

    </mat-select>
  </mat-form-field> 
  <button mat-raised-button color="primary" (click)="filterByStatus()" > <mat-icon>refresh</mat-icon> Refresh Data</button>
  <app-loading *ngIf="loading"></app-loading>
  <h2 data-testid="selectedStatus">Status: {{selectedStatus}}</h2>
  <mat-table data-testid="datatable" class="mat-elevation-z8 demo-table" matSort [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef > # </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">{{i + 1}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="viewDetails(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>