
<div fxFlex="100" fxFlexAlign="center center"   fxLayout="column" fxLayoutGap="20px"
 fxLayoutAlign="stretch center">

 <div class="container">
    <h2 data-testid="appTitle" class="app-title blue-text">{{appTitle}}</h2>
    
    <mat-card  class="login-card">
        <mat-card-title>
            <div fxLayout="row">
                <h3  fxFlexAlign="center">Log In</h3>
            </div>
        </mat-card-title>
        <mat-card-content>
           
                <form data-testid="loginForm" [formGroup]="form"  (ngSubmit) = "login()" >
                    <div   fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20">
                    <div data-testid="loginErrorDiv" class="alert alert-danger" *ngIf="error">
                        {{error_message}}
                      </div> 
                      <div fxLayoutAlign="center">
                        <mat-form-field appearance="fill">
                            <mat-label>Your username</mat-label>
                            <input data-testid="username" formControlName="username" type="text" matInput>
                            <mat-icon matPrefix >sentiment_very_satisfied</mat-icon>
                            <mat-error *ngIf="form.controls['username'].invalid">
                                Enter a valid username
                            </mat-error> 
                        </mat-form-field>   
                      </div>
                      <div fxLayoutAlign="center">
                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input  data-testid="password"  formControlName="password"  type="password" matInput>
                            <mat-icon matPrefix>lock</mat-icon>
                            <mat-error *ngIf="form.controls['password'].invalid">
                                Enter a valid password
                            </mat-error>
                        </mat-form-field> 
                      </div>
                        
                         
        
        
                      
                      <mat-error data-testid="loginError" *ngIf="error">{{error_message}}</mat-error>
                      <div fxLayoutAlign="center">
                        <app-loading *ngIf="loading"></app-loading>
        
                        <button  data-testid="submitButton"  *ngIf="!loading" class="btn-block" [disabled]="!form.valid" type="submit" 
                        mat-raised-button color="primary">Login</button>
                       
                        
                    </div>
                    
                </div>          
                    
                
            </form>
            
        </mat-card-content>
    </mat-card>
 </div>
 
    By Carl Wuaku - wuakuc@gmail.com
    
    
</div>

