<app-navigation></app-navigation>
<div class="container">
  
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1> <a mat-raised-button  color="primary" routerLink="/listpets"> 
       <mat-icon>arrow_back</mat-icon> Back to list of pets</a> Add a new Pet</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form data-testid="addPetForm"  [formGroup]="form" (ngSubmit)="submitForm()">
        <div fxLayout="column" fxLayoutGap="20">
        <div data-testid="addPetError" class="alert alert-danger" *ngIf="error">{{error_message}}</div>
        <div fxLayoutAlign="center">
          <mat-form-field >
            <mat-label>Pet Name</mat-label>
            <input data-testid="addPetName" formControlName="name" type="text" matInput>
            <mat-error data-testid="addPetNameError" *ngIf="form.controls['name'].invalid">
              The name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="center">
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select data-testid="addPetStatus" formControlName="status">
              <mat-option value="{{status}}" *ngFor="let status of petService.statuses">{{status}} </mat-option>

            </mat-select>

            <mat-error data-testid="addPetStatusError" *ngIf="form.controls['status'].invalid">
              The status is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="center">
          <mat-form-field>
            <mat-label>Image</mat-label>

            <input data-testid="addPetImage" formControlName="image" type="text" matInput>

            <mat-hint>Enter the url for the image </mat-hint>
          </mat-form-field>
        </div>




        <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="center">
          <app-loading *ngIf="loading"></app-loading>

          <button data-testid="addPetSubmitBtn" *ngIf="!loading" 
           [disabled]="!form.valid" type="submit" mat-raised-button
            color="primary">Save</button>


        </div>



      </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>